section{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	flex-direction: column;
}

div{
	background-repeat: no-repeat;
}
